<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div class="login-page">
        <div class="form">
          <form id="recover_password_form" class="recover_password_form" method="post">
            <input type="password" name="password" placeholder="password" id="password"/>
            <font color="red">
              <span id="error_password" class="error"></span>
            </font>
            <input class="button_register" id="recover_password" type="button" value="Change Password"></input>
          </form>
        </div>
      </div>
    </body>
</html>