<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="login-page">
      <div class="form">
        <form class="recover-form" id="recover_form">
          <input type="text" name="email" placeholder="email address" id="email"/>
          <font color="red">
            <span id="error_email" class="error"></span>
          </font>
          <input class="button" id="recover" type="button" value="Recover"></input>
          <p class="message">Not registered? <a href="index.php?module=login&op=view_register">Create an account</a></p>
        </form>
      </div>
    </div>
  </body>
</html>