<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ShopCar</title>
        <link href="view/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
        <script src="<?php echo SITE_PATH ?>module/search/view/js/ctrlSearchPage.js"></script>
        <script src="<?php echo SITE_PATH ?>module/login/view/js/ctrlLogin.js"></script>
        <script src="<?php echo SITE_PATH ?>module/login/view/js/ctrlRegister.js"></script>
        <script src="<?php echo SITE_PATH ?>module/login/view/js/ctrlRecover.js"></script>
        <script src="<?php echo SITE_PATH ?>module/login/view/js/ctrlSocialLogin.js"></script>
        <script src="<?php echo SITE_PATH ?>view/inc/js/main.js"></script>
        <script src="view/inc/js/activity.js"></script>
    </head>
</html>